Django>=4.2,<5.1
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3

Pillow>=10.0
PyJWT>=2.8

gunicorn>=21.2
whitenoise>=6.6

dj-database-url>=2.1
psycopg2-binary>=2.9

django-storages[boto3]>=1.13
boto3>=1.26